{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue chez DéjàLu :)</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore officia possimus earum itaque voluptatibus asperiores quod consequatur, repudiandae iure magni hic quo illum temporibus, provident ducimus fuga perspiciatis laudantium sequi quibusdam. Aut impedit, quam qui atque iusto praesentium enim quaerat.</p>
<p>Optio dicta eos fuga ullam, harum hic doloremque rem aspernatur maiores sit quas itaque et expedita? Dicta alias, temporibus, voluptates quod eos, autem possimus reprehenderit dolor velit ipsum ullam laudantium sunt voluptas veniam minima nobis nemo. Sequi, similique eos reprehenderit.</p>

{% endblock %}